<template>
    <HomeMap/>
</template>

<script>
    import HomeMap from "./HomeMap.vue";

    export default {
        name: 'app',
        components: {HomeMap: HomeMap},
        data() {
            return {
                msg: 'Welcome to Your Vue.js App'
            }
        }
    }
</script>
<style>
    html, body {
        padding: 0;
        background: #fcfcf0;
        user-select: none;
    }
</style>
<style scoped>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }

</style>
