<template>
    <div v-if="!hasLoaded">
        <div v-if="error" :title="error.message + '\n' + error.stack">{{error.message}}</div>
        <div v-else>Loading</div>
    </div>
    <div v-else @click="onclick" :title="'UUID: '+uuid">
        Loading Status: {{typeof hasLoaded}}
    </div>
</template>
<script>
    import HostTable from './js/HostTable.js';

    export default {
        name: 'DeviceItem',
        props: {
            uuid: ""
        },
        data() {
            return {
                hasLoaded: false,
                error: null,
            }
        },
        methods: {
            onclick: function () {
                console.log(this)
            }
        }
    }
</script>
<style scoped>

</style>