<template>
    <div class="fill-page">
        <div v-for="h in hosts" class="host-item" v-bind:style="{'left': h.position.x + 'px', 'top': h.position.y + 'px'}">
            <DeviceItem :uuid="h.uuid"/>
        </div>
    </div>
</template>

<script>
    import DeviceItem from "./DeviceItem.vue";

    export default {
        name: "HomeMap",
        components: {DeviceItem},
        data: () => {
            return {
                hosts: [{
                    uuid: "uuid for test",
                    position: {
                        x: 100,
                        y: 100
                    }
                }]
            }
        }
    }
</script>

<style scoped>
    .fill-page {
        z-index: 0;
        left: 0;
        top: 0;
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
    }

    .host-item {
        position: relative;
        z-index: 1;
        border: 1px solid white;
        border-radius: 5px;
        width: 200px;
        height: 80px;
        background: white;
        cursor: pointer;
    }
</style>